.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #09d3ac;
} */
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
  font-family: 'Montserrat', sans-serif
}

.button {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  text-align: center;
  border: 0px  rgba(250,250,250, .5) solid;
  padding: 1.5vw 2vw;
  background-color: white;
  width: 20vw;
  font-size: 2vh;
  outline: none !important;
  font-weight: 600;
  background-color: rgba(250,250,250, .5);
}

.button:hover {
  background-color: rgba(0,0,0, .5);
  border: 0px white solid;
  color: white;
  padding: 1.5vw 2vw;
  text-transform: uppercase;
  text-align: center;
  width: 20vw;
  text-decoration: none;
  font-weight: 600;
  font-size: 2vh;
}

.bg {
opacity: .5;
position: absolute;
top: 0;
left: 0;
z-index: -1; 
bottom: 0;
right: 0;
width: 100%;
height: auto;
max-height: 100vh;
  }